<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title><%=title %></title>
    <link type="text/css" href="./style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Get from app.js -->
    <h1><%=title %></h1>
    <div role="main">
      <!-- Get from app.js -->
      <p><%=content %></p>
      <p><a href="/other">Other Page に移動 &gt;&gt;</a></p>
    </div>
  </body>
</html>

